<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data </title>
    <style>
                body { font-family: sans-serif; margin: 20px; }
        h2 { background: #f4f4f4; padding: 10px; border-left: 5px solid #333; text-align: center;}
        table { width: 100%; border-collapse: collapse; margin-bottom: 30px; }
        th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
        th { background-color: #007bff; color: white; }
    </style>
</head>
<body>
    <h2>Form Data</h2>

    <div>
        <h3>Basic Details : <Data></Data></h3>
        <table border="1">
            <tr>
               
                <th>First Name</th>
                <th>Last Name</th>
                <th>designation</th>
                <th>address1</th>
                <th>address2</th>
                <th>city</th>
                <th>Phone</th>
                <th>State</th>
                <th>Gender</th>
                <th>Zip Code</th>
                <th>Relationship status</th>
                <th>Birth Date</th>
            </tr>
           
              <tr>
                
                <td><%= basic.first_name %></td>
                <td><%= basic.last_name %></td>
                <td><%= basic.designation%></td>
                <td><%= basic.address1 %></td>
                <td><%= basic.email %></td>
                <td><%= basic.city %></td>
                <td><%= basic.phone_number %></td>
                <td><%= basic.state %></td>
                <td><%= basic.gender %></td>
                <td><%= basic.zip_code %></td>
                <td><%= basic.relationsjip_status %></td>
                <td><%= new Date(basic.birth_date).toLocaleDateString() %></td>
               

            </tr>
         
           
        </table><br><br>


        <h3>Education Details :</h3>
        <table border="1">
            <tr>
                
                <th>Course Name</th>
                <th>Passing Year</th>
                <th>Uni/Board</th>
                <th>Result</th>
            </tr>
            <% education.forEach(element => { %>
            <tr>
             
              <td><%= element.course_name %></td>
              <td><%= element.passing_year %></td>
              <td><%= element.uni_board %></td>
              <td><%= element.result %></td>
            </tr>
            <% }) %>
        </table>
        <br><br>

        <h3>Work Experience :</h3>
        <table border="1">
            <tr>
                
                <th>Company Name</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Annual Package</th>
                <th>Reason</th>
                <th>Contact No.</th>
                <th>Ref.Ct.Name</th>
            </tr>
            <% work.forEach(element => { %>
                <tr>
                    
                    <td><%= element.company_name %></td>
                      <td><%= new Date(element.from_date).toLocaleDateString() %></td>
                    <td><%= new Date(element.to_date).toLocaleDateString() %></td>
                      <td><%= element.annual_Package %></td>
                    <td><%= element.reason_live %></td>
                      <td><%= element.contact_number %></td>
                    <td><%= element.ref_ct_Name %></td>
                    
                </tr>
             
            <% }) %>
        </table><br><br>

        <h3>Languages You Know:</h3>
        <table border="1">
            <tr>
                
                <th>Language Name</th>
                <th>Read</th>
                <th>Write</th>
                <th>Speak</th>
            </tr>

            <% languages.forEach(element => { %>
             <tr>
               
                <td><%= element.language_name %></td>
                <td><%= element.can_read?'Yes':'No' %></td>
                <td><%= element.can_write?'Yes':'No' %></td>
                <td><%= element.can_speak?'Yes':'No' %></td>
             </tr>
            <% }) %>
        </table>

        <h3>Technology You Know</h3>
        <table border="1">
            <tr>
               
                <th>Technology</th>
                <th>Beginner</th>
                <th>Mediator</th>
                <th>Expert</th>
            </tr>
              <% technology.forEach(element => { %>
            <tr>
               
                <td><%= element.technology_name %></td>
                <td><%= element.is_beginer?'Yes':'' %></td>
                 <td><%= element.is_mideator?'Yes':'' %></td>
                  <td><%= element.is_expert?'Yes':'' %></td>
            </tr>
            <% }) %>
        </table><br><br>

        <h3>Refrences</h3>
        <table border="1">
            <tr>
                
                <th>Refrence Name</th>
                <th>Contact No.</th>
                <th>Relation</th>
            </tr>
           <% refrence.forEach(element => { %>
            <tr>
                
                <td><%= element.refrence_name %></td>
                <td><%= element.contact_number %></td>
                <td><%= element.relation %></td>
            </tr>
           <% }) %>
        </table>

        <h3>Your Preferances</h3>
        <table border="1">
            <tr>
                <th>Preferance Location</th>
                <th>Notice Period</th>
                <th>Expected CTC</th>
                <th>Current CTC</th>
                <th>Department</th>
            </tr>
           
            <% if (preferance.length >0) { %>
                <tr>
                <td><%= preferance[0].preference_location %></td>
                <td><%= preferance[0].notice_period %></td>
                <td><%= preferance[0].expected_ctc %></td>
                <td><%= preferance[0].current_ctc %></td>
                 <td><%= preferance[0].department %></td>
            </tr>
             
            <% } %>
            
        </table>

    </div>
    <script>
        async function deleteBasic(id) {
        if(!confirm("Delete this applicant?")) return;
        try {
            const response = await fetch(`/deleteBasic/${id}`, { method: 'DELETE' },{headers:{'Content-type':'application/json'}});
           const message=await response.text()
            if (response.ok) {
                alert(message);
                window.location.href = "/"; 
            }
            else{
                alert(message)
            }
        } catch (err) { console.error(err); }
    }

        async function updateBasic(id) {
             try {
            const response = await fetch(`/updateBasic/${id}`, { method: 'UPDATE' },{headers:{'Content-type':'application/json'}});
           const message=await response.text()
            if (response.ok) {
                alert(message);
                window.location.href = "/"; 
            }
            else{
                alert(message)
            }
        } catch (err) { console.error(err); }
            
        }
    </script>
    

   
</body>
</html>